.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.star {
  height: 200px;
  width: 400px;
  background-color: burlywood;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
